<div class=" mt-8 ml-3 p-8  w-10 pt-8 bg-morado-500 bg-purple-300">
<h5 class="ine-height-2 text-4xl font-bold  text-justify white-space-normal pl-8 pt-8">Sobre mi</h5>
<h1 class="text-justify white-space-normal text-justify pl-8 pt-4">{{nota1}}</h1>
<h1 class="text-justify white-space-normal text-justify pl-8 pt-4">{{nota2}}</h1>
<h1 class="text-justify white-space-normal text-justify pl-8 pt-4">{{nota3}}</h1>
<h1 class="text-justify white-space-normal text-justify pl-8 pt-4">{{nota4}}</h1>
</div>
